.Info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}

.table {
    table-layout: fixed ;
    width: 100% ;
    text-align: center;
  
    
  }

  .table td, table th{
    border: 1px solid black;
    width: 90%;
  }

  .myBtn{
      align-items: center;
  }

  .shifting{
      align-items: center;
      text-align: center;
  }